RewriteEngine On

# Remove file extension from all pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Custom 404 error page
ErrorDocument 404 /404.php 

# **Make sure this does not conflict:**
# Allow access to PDF files
<FilesMatch "\.(?i:pdf)$">
    Require all granted
</FilesMatch>
